{{> header}}
<main>
<div class="offer-details">
    <h1>{{name}}</h1>
    <div class="info">
        <img src="{{imageUrl}}" alt="">
        <div class="description">{{description}}
            <br>
            <br>
        <div>Buyers: {{buyers}}</div>
            <br>
            <p class="price">${{price}}</p>
        </div>
    </div>
    <div class="actions">
        {{#if isCreator}}
        <a href="#/edit/:{{id}}">Edit</a>
         <a href="#/delete/:{{id}}">Delete</a>
        {{else}}
        {{#if isBought}}
        <a href="#/buy/:{{id}}">Buy</a>
        {{else}}
        <span>You bought it</span>
        {{/if}}{{/if}}
    </div>
</div>
</main>
{{> footer}}